.box {
    display: none;
}

.img {
    border-radius: 30px;
}

@media screen and (min-width:768px) {
    .img {
        border-radius: 60px;
    }
}

@media screen and (min-width:1280px) {

    .container {
        position: relative;
    }

    .box {
        display: flex;
        position: absolute;
        left: 61px;
        top: 436px;
    }
}