.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.box {
    display: flex;
    gap: 8px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.page,
.pageMob,
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid rgba(38, 38, 38, 0.05);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    color: #262626;
    width: 40px;
    height: 40px;
}

.active,
.btn:hover {
    background-color: #f6b83d;
    border: none;
    color: #fff;
    stroke: #fff;
    fill: #fff;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid rgba(38, 38, 38, 0.2);
    stroke: #262626;
    width: 40px;
    height: 40px;
    padding: 0;
}

.btn:disabled {
    border-color: rgba(38, 38, 38, 0.5);
    fill: rgba(38, 38, 38, 0.5);
    pointer-events: none;
}

.pageTwo,
.pageTab {
    display: none;
}

@media screen and (min-width:768px) {

    .wrapper {
        width: 446px;
        margin-left: auto;
        margin-right: auto;
    }

    .pageMob {
        display: none;
    }

    .pageTwo,
    .pageTab {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid rgba(38, 38, 38, 0.05);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        color: #262626;
        width: 44px;
        height: 44px;
    }

    .page,
    .btn,
    .dots {
        width: 44px;
        height: 44px;
    }
}