 .overlay {
     position: fixed;
     inset: 0;
     opacity: 0;
     pointer-events: none;
     transition: opacity 0.3s ease;
     z-index: 10;
 }

 .show {
     opacity: 1;
     pointer-events: auto;
 }

 .sidebar {
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 50%;
     max-width: 320px;
     transform: translateX(100%);
     transition: transform 0.3s ease;
     z-index: 20;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 40px;
     background-color: #f6b83d;
 }

 .sidebarHome {
     background-color: #fff;
 }

 .open {
     transform: translateX(0);
 }

 .closeBtn {
     display: block;
     padding: 0;
     stroke: #fff;
     position: absolute;
     top: 28px;
     right: 20px;
 }

 .closeBtnHome {
     stroke: #262626;
 }

 .nav {
     margin-top: 236px;
 }

 .navList {
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
 }

 .link {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid rgba(255, 255, 255, 0.15);
     border-radius: 30px;
     width: 119px;
     height: 48px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.3;
     letter-spacing: -0.03em;
     background-color: #f6b83d;
     color: #fff;
 }

 .link:hover {
     color: #f6b83d;
     background-color: #fff;
 }

 .active {
     border: 1px solid rgba(255, 255, 255, 0.5);
 }

 .linkHome {
     color: #262626;
     border: 1px solid rgba(38, 38, 38, 0.15);
     background-color: #fff;
 }

 .linkHome:hover {
     background-color: #f6b83d;
     color: #fff;
 }

 .linkHome .active {
     border: 1px solid rgba(255, 255, 255, 0.5);
 }

 .auth {
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-top: auto;
 }

 .login,
 .register,
 .logoutBtn,
 .logoutBtnHome {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 30px;
     width: 100%;
     height: 42px;
     background-color: #f6b83d;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.3;
     letter-spacing: -0.03em;
     color: #fff;
     border: 1px solid rgba(255, 255, 255, 0.5);
 }

 .logoutBtn,
 .logoutBtnHome {
     width: 178px;
     margin-top: auto;
 }

 .login:hover,
 .register:hover,
 .logoutBtn:hover {
     color: #f6b83d;
     background-color: #fff;
 }

 .loginHome,
 .registerHome,
 .logoutBtnHome {
     color: #f6b83d;
     background-color: #fff4df;
 }

 .loginHome:hover,
 .registerHome:hover,
 .logoutBtnHome:hover {
     color: #fff4df;
     background-color: #f6b83d;
 }

 @media screen and (min-width:375px) {
     .overlay {
         position: fixed;
         inset: 0;
         opacity: 0;
         pointer-events: none;
         transition: opacity 0.3s ease;
         z-index: 10;
     }

     .show {
         opacity: 1;
         pointer-events: auto;
     }

     .sidebar {
         position: fixed;
         top: 0;
         right: 0;
         height: 100vh;
         width: 50%;
         max-width: 320px;
         transform: translateX(100%);
         transition: transform 0.3s ease;
         z-index: 20;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 40px;
         background-color: #f6b83d;
     }

     .sidebarHome {
         background-color: #fff;
     }

     .open {
         transform: translateX(0);
     }

     .closeBtn {
         display: block;
         padding: 0;
         stroke: #fff;
         position: absolute;
         top: 28px;
         right: 20px;
     }

     .closeBtnHome {
         stroke: #262626;
     }

     .nav {
         margin-top: 236px;
     }

     .navList {
         display: flex;
         flex-direction: column;
         gap: 10px;
         align-items: center;
     }

     .link {
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid rgba(255, 255, 255, 0.15);
         border-radius: 30px;
         width: 119px;
         height: 48px;
         font-weight: 500;
         font-size: 14px;
         line-height: 1.3;
         letter-spacing: -0.03em;
         background-color: #f6b83d;
         color: #fff;
     }

     .link:hover {
         color: #f6b83d;
         background-color: #fff;
     }

     .active {
         border: 1px solid rgba(255, 255, 255, 0.5);
     }

     .linkHome {
         color: #262626;
         border: 1px solid rgba(38, 38, 38, 0.15);
         background-color: #fff;
     }

     .linkHome:hover {
         background-color: #f6b83d;
         color: #fff;
     }

     .linkHome .active {
         border: 1px solid rgba(255, 255, 255, 0.5);
     }

     .auth {
         display: flex;
         flex-direction: column;
         gap: 8px;
         margin-top: auto;
     }

     .login,
     .register {
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 30px;
         width: 178px;
         height: 42px;
         background-color: #f6b83d;
         font-weight: 700;
         font-size: 14px;
         line-height: 1.3;
         letter-spacing: -0.03em;
         color: #fff;
         border: 1px solid rgba(255, 255, 255, 0.5);
     }

     .login:hover,
     .register:hover {
         color: #f6b83d;
         background-color: #fff;
     }

     .loginHome,
     .registerHome {
         color: #f6b83d;
         background-color: #fff4df;
     }

     .loginHome:hover,
     .registerHome:hover {
         color: #fff4df;
         background-color: #f6b83d;
     }

 }

 @media screen and (min-width:768px) {

     .sidebar {
         max-width: 374px;
     }

     .closeBtn {
         top: 39px;
         right: 32px;
     }

     .auth {
         flex-direction: row;
     }

     .register,
     .registerHome {
         width: 149px;
         height: 50px;
     }

     .login,
     .loginHome {
         width: 119px;
         height: 50px;
     }
 }

 @media screen and (min-width:1280px) {
     .overlay {
         display: none;
     }
 }