.box {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    min-height: 360px;
}

.img {
    border-radius: 15px;
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
    height: 190px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #262626;
    margin-bottom: 12px;
}

.text,
.date,
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #262626;
    margin-bottom: 19px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.date {
    color: rgba(38, 38, 38, 0.5);
    margin-bottom: 0;
}

.link {
    color: #f6b83d;
    margin-bottom: 0;
}

@media screen and (min-width:375px) {}

@media screen and (min-width:768px) {
    .box {
        max-width: 340px;
        width: 340px;
        padding-bottom: 28px;
        min-height: 476px;
    }

    .img {
        margin-bottom: 28px;
        height: 226px;
        margin-bottom: 28px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 14px;
        min-height: 75px;
    }

    .text {
        margin-bottom: 28px;
        min-height: 60px;
    }

    .text,
    .date,
    .link {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width:1280px) {
    .box {
        max-width: 361px;
        width: 361px;
    }
}