.userInfo {
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
    padding: 18px 20px 40px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #fff;
    fill: #fff;
    background-color: #f6b83d;
    border-radius: 30px;
}

.editBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 30px;
    background-color: #fff4df;
    stroke: #f6b83d;
    width: 38px;
    height: 38px;
    fill: transparent;
}

.avatar {
    margin: 20px auto 0;
    border-radius: 100px;
    display: block;
}

.editUserBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #262626;
    margin: -2px auto 28px;
}

.iconBox {
    width: 94px;
    height: 94px;
    border-radius: 100px;
    background: #fff4df;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon {
    fill: #f6b83d;
}

.editUserBtn>p {
    text-decoration: underline;
}

.userInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2a;
}

.userInfoWrapper>div {
    padding: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
    border: 1px solid #f6b83d;
    border-radius: 30px;
}


.userInfoWrapper>div:nth-child(3) {
    border: 1px solid rgba(38, 38, 38, 0.15);
}

.myPetsBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.myPetsBox>h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2a;
}

.link {
    display: flex;
    gap: 4px;
    border-radius: 30px;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    background-color: #f6b83d;
    stroke: #fff;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
}

.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px 28px;
    background-color: #fff4df;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #f6b83d;
    margin-top: 20px;
}

.logoutBtn:hover {
    color: #fff;
    background-color: #f6b83d;
}

@media screen and (min-width:768px) {
    .userInfo {
        border-radius: 60px;
        width: 704px;
        padding: 40px;
    }

    .avatar {
        margin-top: -38px;
        width: 110px;
        height: 110px;
    }

    .editUserBtn {
        margin-top: -38px;
        margin-bottom: 20px;
    }

    .iconBox {
        width: 110px;
        height: 110px;
    }

    .userIcon {
        width: 50px;
        height: 50px;
    }

    .editUserBtn>p {
        font-size: 14px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 1.3;
    }

    .userInfoWrapper>div {
        width: 305px;
    }

    .myPetsBox>h4 {
        font-size: 18px;
        line-height: 1.3;
    }

    .userInfoWrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .link {
        font-size: 16px;
        line-height: 1.25;
        padding: 10px 20px;
    }

    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logoutBtn {
        padding: 15px 35px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width:1280px) {

    .userInfo {
        width: 520px;
    }

    .userInfoWrapper {
        gap: 14px;
    }

    .userInfoWrapper>div {
        padding: 16px;
        width: 440px;
        font-size: 16px;
        line-height: 1.25;
    }

    .list {
        margin-bottom: 40px;
    }

    .logoutBtn {
        margin-top: 80px;
    }
}