.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #f6b83d;
    background-color: #fff4df;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn:hover,
.btn:focus {
    background-color: #f6b83d;
    color: #fff;
}

@media screen and (min-width:768px) {
    .btn {
        font-size: 16px;
        line-height: 1.25;
    }
}