.friend {
    border-radius: 15px;
    max-width: 335px;
    height: 184px;
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 14px;
    padding: 40px 20px;
}

.img {
    border-radius: 100%;
}

.work {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 8px;
    width: 88px;
    height: 32px;
    background-color: #fff4df;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #f6b83d;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: #262626;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 70px;
    gap: 8px;
}

.link,
.text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.text {
    color: #262626;
}

@media screen and (min-width:768px) {
    .friend {
        max-width: 342px;
        width: 342px;
        height: 196px;
        gap: 16px;

    }

    .work {
        width: 102px;
        height: 34px;
        font-size: 14px;
    }

    .img {
        width: 90px;
        height: 90px;
    }

    .info {
        gap: 20px;
    }

    .subtitle {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;
    }
}

@media screen and (min-width:1280px) {
    .friend {
        max-width: 371px;
        width: 371px;
        gap: 20px;

    }
}