.noticesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

@media screen and (min-width:768px) {
    .noticesList {
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 32px;
    }
}

@media screen and (min-width:1280px) {
    .noticesList {
        gap: 40px 31px;
        margin-top: 40px;
    }
}