.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width:1280px) {
    .box {
        flex-direction: row;
        gap: 32px;
    }
}