.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #262626;
}

/* @media screen and(min-width:375px) {} */

@media screen and (min-width:768px) {

    .title {
        font-size: 54px;
    }
}

/* @media screen and(min-width:1280px) {} */