.container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 10px 20px 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 16px 32px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}