.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 335px;
    height: 712px;
    background-color: #f6b83d;
    gap: 20px;
}

.notFound {
    display: flex;
    gap: 8px;
}

.four {
    font-weight: 800;
    font-size: 120px;
    line-height: 1;
    color: #fff;
}

.catTabDesc {
    display: none;
}

.text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #fff;
}

.btnBox {
    width: 150px;
}

@media screen and (min-width:768px) {
    .box {
        border-radius: 60px;
        width: 704px;
        height: 878px;
        gap: 40px;
        gap: 0;
    }

    .notFound {
        gap: 0;
        margin-bottom: 40px;
    }

    .four {
        font-weight: 800;
        font-size: 300px;
    }

    .catTabDesc {
        display: block;
    }

    .catMob {
        display: none;
    }

    .text {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 20px;
    }

    .btnBox {
        width: 162px;
    }
}

@media screen and (min-width:1280px) {

    .box {
        width: 1216px;
        height: 654px;
    }

    .btnBox {
        width: 162px;
    }
}