.box {
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 295px;
  padding: 16px 46px 16px 16px;
  position: relative;
  display: flex;
  gap: 14px;
}

.avatar {
  border-radius: 100px;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #2b2b2a;
  margin-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 153px;
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #262626;
}

.btn {
  position: absolute;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff4df;
  top: 12px;
  right: 12px;
  stroke: #f6b83d;
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .box {
    border-radius: 20px;
    width: 305px;
    padding: 22px 27px 23px 16px;
  }

  .avatar {
    width: 75px;
    height: 75px;
  }

  .title {
    margin-bottom: 12px;
  }

  .wrapper {
    width: 158px;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    width: 440px;
    padding: 20px;
    gap: 25px;
  }

  .avatar {
    width: 90px;
    height: 90px;
  }

  .wrapper {
    width: 243px;
  }

  .btn {
    width: 38px;
    height: 38px;
    top: 20px;
    right: 20px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}
