.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.wrapper {
    border-radius: 30px;
    max-width: 335px;
    width: 335px;
    height: 422px;
    background-color: #fff;
    padding: 27px 20px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #262626;
    margin: 12px 0 20px;
}

@media screen and (min-width:768px) {
    .box {
        gap: 16px;
    }

    .wrapper {
        width: 704px;
        max-width: 704px;
        height: 560px;
        border-radius: 60px;
        padding: 30px 140px;
    }

    .text {
        margin: 16px 0px 32px;
        font-size: 18px;
        line-height: 1.2;
    }
}

@media screen and (min-width:1280px) {
    .box {
        flex-direction: row;
        gap: 32px;
    }

    .wrapper {
        width: 592px;
        height: 654px;
        padding: 77px 84px;
    }
}