.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 60px;
}

@media screen and (min-width:768px) {
    .list {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 44px;
        flex-direction: row;
    }
}

@media screen and (min-width:1280px) {
    .list {
        gap: 28px 20px;
        margin-top: 60px;
    }
}