.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
    padding: 40px 28px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    stroke: #262626;
}

.imgBox {
    position: relative;
    margin-bottom: 20px;
}

.img {
    border-radius: 100%;
}

.categoryBox {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    padding: 8px 14px;
    background-color: #fff4df;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #f6b83d;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2a;
    margin-bottom: 10px;
}

.popularity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 24px;
}

.star {
    fill: #ffc531;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.wrapper>p {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.wrapper>p>span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #262626;
}

.comment {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #2b2b2a;
}

.price {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2a;
}

.btnBox {
    display: flex;
    width: 100%;
    gap: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 44px;
    border-radius: 30px;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #f6b83d;
    background-color: #fff4df;
    fill: #fff4df;
    stroke: #f6b83d;
}

.btn:hover {
    color: #fff;
    background-color: #f6b83d;
    stroke: #fff;
    fill: #f6b83d;
}

@media screen and (min-width:768px) {
    .box {
        width: 473px;
        padding: 40px 72px;
    }

    .imgBox {
        margin-bottom: 16px;
    }

    .img {
        width: 150px;
        height: 150px;
    }

    .categoryBox {
        font-size: 14px;
    }

    .title {
        font-size: 18px;
        line-height: 1.3;
    }

    .popularity {
        margin-bottom: 20px;
    }

    .wrapper {
        width: 243px;
    }

    .price {
        font-size: 18px;
        line-height: 1.3;
    }

    .btnBox {
        gap: 10px;
    }

    .btn {
        width: 160px;
        height: 48px;
    }
}