.profile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .profile {
        gap: 32px;
    }
}

@media screen and (min-width:1280px) {
    .profile {
        flex-direction: row;
        gap: 32px;
    }

}