.btnBox {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 42px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
    background-color: #fff;
}

.activeBtn {
    background-color: #f6b83d;
    color: #fff;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    color: #262626;
    margin: 80px auto;

}

.span {
    font-weight: 700;
    color: #f6b83d;
}

@media screen and (min-width:768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .btn {
        width: 142px;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    }

    .text {
        width: 458px;
    }
}

@media screen and (min-width:1280px) {
    .box {
        width: 664px;
    }

    .list {
        gap: 24px;
    }

    .text {
        margin-top: 180px;
        margin-bottom: 180px;
    }

}