.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
    padding: 40px 28px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    stroke: #262626;
}

.img {
    border-radius: 100%;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #262626;
    margin-bottom: 28px;
}

.wrapper {
    display: flex;
    gap: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 134px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
    background-color: rgba(38, 38, 38, 0.05);
    padding: 0;
}

.btn:hover {
    color: #fff;
    background-color: #f6b83d;
}

@media screen and (min-width:768px) {
    .box {
        padding: 80px;
        width: 448px;
    }

    .btn {
        width: 140px;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    }
}